extends layout

block content
    h1(class="title") 
    if user
        div Clip some text 
            form(action="/", method="post")
                div.form-group
                    label(for="message")= errorMessage
                    textarea(name="message")= message
                button(type="submit") Clip it! 
        div ...or some files
            form(role="form",action="/clipfile", method="POST", enctype="multipart/form-data")
                div.form-group
                    input(type="file", name="clippedFile", id = "clippedFile", required, multiple)
                    input(type="submit") 

    else 
        a(href="/login") Log in to get started! 