doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='stylesheets/style.css')
    body 
        div(class="navbar")
            if user
                div(id = "username") #{user.username}
                a(href="/logout", id = "logout") log out
            else 
                a(href="/login", id = "login") log in
                a(href="/signup", id = "signup") sign up                 
        block content 
