extends layout 

block content 
  h1(class="title") log in 
  form(action="login" method="POST" )
    div.form-group
      label(for="username") username: 
      input(name="username" type="text")
    div.form-group
      label(for="password") password: 
      input(name="password" type="password")
    button(type="submit") log in