extends layout

block content
  h1(class="title") sign up 
  form(action="signup" method="POST")
    p= errorMessage
    div.form-group
      label(for="username") username: 
      input(name="username" type="text" required)
    div.form-group
      label(for="password") password:  
      input(name="password" type="password" minlength="8" required)
    div.form-group 
      label(for="confirm") confirm: 
      input(name="confirm" type="password" required)
    button(type="submit") sign up